body {
	font-family: sans-serif;	
	background-image: url(/Frontend/img/loginBackgroundImage.jpg);
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: cover;
	height: 100vh;
}

.container {
    display: flex;
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    justify-content: center;
}

.card {
    flex-direction: row;
    background-color: rgb(205, 244, 240);
    border-radius: 10px;
    box-shadow: 0px 0px 17px rgb(0, 0, 75);
}

.card-img-top {
    width: 50%;
    border-radius: 10px;
}

.card-img-overlay {
    width: 50%;
    color: whitesmoke;
}

.card-body {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo img{
    width:25%;
    align-items: center;
}

.card-body img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 800px){
    .card-img-top{
        display: none;
    }
    .card-img-overlay{
        display:none;
    }
    .container {
        display: flex;
        justify-content: center;
        /* align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
    }
}